= simple_form_for bulletin do |f|
  = f.input :title,
          input_html: { class: 'input-group mb-3 form-control' }
  = f.input :description,
          input_html: { class: 'input-group mb-3 form-control' }
  = f.association :category,
          collection: Category.all,
          required: true,
          input_html: { class: 'input-group mb-3 form-control' },
          error: t('.empty_category')
  = f.input :image,
          required: true,
          input_html: { class: 'input-group mb-3 form-control' },
          error: t('.empty_image')
  = f.button :submit,
          class: 'btn-primary flex-grow-2 me-2'
